/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
input:valid {
    background: #beff98;
}

/* ==========================================================================
   index
   ========================================================================== */
/*navigation*/

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(#8aff78, #659400);
    padding: 0 100px 15px 50px
}
.navigation h1{
    font-size: 40px;
    color: #006400;
    margin-left: 2px;
    margin-right: 5px;
}
.login_register{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.login_register a{
    text-decoration: none;
    font-style: oblique;
    color: #006400;
    margin-top: 1em;
    margin-left: 1em;
}

.login_register a:hover{
    color: #008000;
    text-decoration: underline;
}
.navigation .head {
    display: flex;
    font-size: 20px;
    align-items: center;
}
.navigation .head i{
    color: black
}

.login_check {
    font-size: 15px;
}

/* Information */
.info_top{
    background: #b9ffb4;
}

.information h3{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.information_text{
    text-align: center;
    padding-bottom: 15px;
    margin: 0px;
}

/*main top*/

.main_top{
    display: flex;
}
.main_top div{
    width: 98.5%;
    justify-content: center;
}
.main_top div .heading{
    background: #0aad6f;
    border-style: double;
}
.main_top div h3{
    margin-left: 20px;
}

/*box*/
.box{
    border:double;
    background: #b9ffb4;
    height: 400px;
}
.heading {
    display: flex;
    align-items: center;
}
.heading h3 {
    margin-right: auto;
}
.listOfTeams {
    width:100%;
    height:100%;
    border: none;
    background: #B9FFB4;
    overflow-y: auto;
}

/*schedule page*/
.playschedule{
    border:double;
    background: #b9ffb4;
    height: auto;

}
.rounds{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.singleround{
    display: flex;
    justify-content: space-around;
}
/*uitslagen*/


/*main_bottom*/

.main_bottom {
    display: flex;
    margin-top: 10px;
}
.main_bottom div{
    width: 98.5%;
}
.main_bottom .heading{
    border: solid 1px;
    background: repeating-linear-gradient(#8fffe6, #6bff40);
}
.main_bottom .heading h3 {
    margin-left: 20px;
}
.main_bottom .boxx{
    border: solid 1px;
    height: 100%;
    background: repeating-linear-gradient(#8fffe6, #6bff40);
}
.main_bottom .poules .poule_A{
    border: double;
    heigth: 100%;
}
.main_bottom .poules .poule_B{
    border: double;
}
.main_bottom .poules .pouleteam{
    border: solid 1px;
    display: inline-block;
}

/* ==========================================================================
   Register-Team/Player
   ========================================================================== */

   .teamplayermake{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .teamplayermake .container{
       width: 960px;
       margin: 0 auto;
    }

    .teamplayermake .container h2 {
       text-align: center;
       margin: 0;
       padding-top: 1em;
       padding-bottom: 1em;
    }

    .teamplayermake .container .background-teamplayer .container-2 h2{
       text-align: center;
       margin: 0;
    }

    .teamplayermake .container input[type=number], .teamplayermake .container input[type=text] {
        width: 70%;
        padding: 10px 20px;
        margin: 8px 0;
        display: flex;
        border: 1px solid #ccc;
        box-sizing: border-box;
        text-align: center;
        margin-left: 8em;   
    }

    .background-teamplayer{
        background-color: #4cc132;
    }

    .teamplayermake .container button {
        background-color: lightgray;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 70%;
        margin-left: -2em;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .teamplayermake .container button:hover {
        opacity: 0.8;
    }

    .teamplayermake .player {
        text-align: center;
    }

/* ==========================================================================
   Register-Form
   ========================================================================== */
   .register .container h2{
        text-align: center;
    }

    .register{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .background-register{
        background-color: #4cc132;
    }

    .background-register h2 {
        padding-top: 1em;
        padding-right: 1.6em;
        padding-bottom: 0.5em;
    }
    

    .register .container input[type=email], .register .container input[type=password] {
        width: 70%;
        padding: 10px 20px;
        margin: 8px 0;
        display: flex;
        border: 1px solid #ccc;
        box-sizing: border-box;
        text-align: center;
        margin-left: 8em;   
    }
      
    .register .container button {
        background-color: lightgray;
        color: black;
        padding: 14px 20px;
        margin: 1em 0 3em 8em;
        border: none;
        cursor: pointer;
        width: 70%;
    }
      
    .register .container button:hover {
        opacity: 0.8;
    }
      
    .register .container a{
        text-decoration: none;
        color: black;
    }

    .register .container{
        width: 960px;
        margin: 0 auto;
    }
    
    .back{
        margin-top: 1.5em;
    }

    .registerbutton{
        margin-top: 1em;
    }

    .register-header{
        background-color: white;
    }

    .register-header .container{
        width: 960px;
        margin: 0 auto;
    }

    .register-navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px 0 50px;
    }

    .register-controler {
        font-size: 25px;
    }

    .register-email {
        margin-left: 27.5em;
    }

    .register-password {
        margin-left: 26.5em;
    }

    .register-password-reapeat{
        margin-left: 23em;
    }
    
    .border-login{
        border-right: 1px solid black;
        padding-right: 1em;
    }


    
/* ==========================================================================
   login-Form
   ========================================================================== */
    .login {
        text-align: center;
        background: radial-gradient(pink,hotpink, deeppink);
    }
    .login .container {
        width: 960px;
        margin: 0 auto;
        align-items: center;
    }
    .login .container-2 {
        width: 960px;
        display: reverse flex;
        flex-wrap: wrap;
        align-items: center;
        background: none;

    }
    .login .container h2 {
        text-align: center;
        padding-top: 1em;
        color: #da2b3b;
    }
    .login label {
        color: #5559b2;
    }

    .login .container .container .login-a a{
        text-decoration: none;
        color: black;
    }
    
    .register-header .container .register-navigation .register-controler a{
        text-decoration: none;
        color: black;
        padding-left: 1em;
    }

    .login .container input[type=email], .login .container input[type=password] {
        width: 65%;
        padding: 10px 20px;
        margin: auto;
        display: flex;
        border: 1px solid #ccc;
        box-sizing: border-box;
        text-align: center;
    }

    .login .container .login-a {
        background-color: lightgray;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 65%;
    }

    .imgcontainer {
        text-align: center;
        margin: 10px 0 12px 0;
      }
      
    img.avatar {
        width:  620px;
      }

    .login .container input:hover {
        opacity: 0.8;
    }

/* ==========================================================================
   Admin page
   ========================================================================== */
.adminpage {

}
.adminpage .full_team_score{

}
.adminpage .full_team_score .teams_that_play{
    display: inline-block;
    width: 500px;
    text-align: center;
}
.adminpage .score_input{

}

/* ==========================================================================
   addmembers page
   ========================================================================== */

.addMembersPage form{
    display: inline-block;
    margin: 10px;
}

.addMembersPage .container-3 .container-4{
    margin: 10px auto;
    background: #b4b4b4;
}

/* ==========================================================================
   generate key form
   ========================================================================== */
.genkeyform {
    margin: 20px 20px;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
